<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding" class="text-center">
    <img ng-src="{{card.img}}" style="width: 64px; height: 64px">
    <p>
      Nome do local
    </p>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales sodales turpis quis malesuada. Etiam non pellentesque ante. Quisque eleifend ante vitae nisl ultrices, ac porta metus fringilla. Quisque at elit tellus. Suspendisse varius facilisis condimentum. Suspendisse posuere pharetra nunc id efficitur. Ut vitae pharetra ante, ut elementum lorem.
    </p>
  </ion-content>
</ion-modal-view>